@{
    ViewData["Title"] = "Tic Tac Toe";
}

<div class="container">
    <h1>Tic Tac Toe Game</h1>
    
    <div id="game-container">
        <!-- You have two options: -->
        
        <!-- Option 1: Embed the game directly in this view -->
        @* Include the game's HTML structure here *@
        
        <!-- Option 2: Use an iframe to load the standalone game -->
        <iframe src="~/tictactoe/firstpage.html" width="100%" height="600px" frameborder="0"></iframe>
    </div>
</div>